{% extends "base.html" %}

{% block page_content %}
    <div class="row align-items-md-stretch">
      <div class="col-md-12">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h1>Hello World!</h1>
          <p>The jumbotron is back!</p>
          <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
      </div>
    {% comment %} <div class="p-5 mb-4 bg-body-tertiary text-bg-dark rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Hello world!</h1>
        <p class="col-md-8 fs-4">The jumbotran is back!.</p>
        <button class="btn btn-primary btn-lg" type="button">Projects</button>
      </div>
    </div> {% endcomment %}
{% endblock page_content %}
